<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="./vendor/materialize/css/materialize.min.css"
    />
    <link rel="stylesheet" href="./assets/main.css" />

    <title>Date Calculator</title>
  </head>
  <body>
    <div id="app" class="container">
      <!-- Penalty Checker -->
      <div class="row">
        <div class="col s12 l6">
          <h1>Penalty Checker</h1>
          <label for="penalty"
            >Penalty Rule. e.g: 15 calendar days from date of resolution</label
          >
          <input
            id="penalty"
            type="number"
            v-model="penaltyRule"
            @change="calculate"
          />
        </div>
      </div>
      <div class="row">
        <div class="legend">
          <div class="legend-item">
            <span>Today</span>
            <span class="color green"></span>
          </div>
          <div class="legend-item">
            <span>Without Penalty</span>
            <span class="color green lighten-2"></span>
          </div>
          <div class="legend-item">
            <span>With Penalty</span>
            <span class="color red"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cols s12 l6">
          <div class="calendar">
            <span
              v-for="(day, index) in GetDays"
              :key="index"
              :class="`day ${day.isToday ? 'today':''} ${day.isPenalty ? 'penalty':''} ${day.isNoPenalty ? 'no-penalty':''}`"
              >{{ day.day }}</span
            >
          </div>
        </div>
      </div>
      <!-- Date Calculator -->
      <div class="row">
        <div class="col s12 l6">
          <h1>{{ welcomeMsg }}</h1>
          <input type="text" v-model="dates" @change="calculate" />
          <button class="btn" @click="calculate" type="submit">
            Calculate
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l6">
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Today - {{ currentDate._d.toString().slice(4, 15) }}</h4>
            </li>
            <li class="collection-item" v-for="(date, index) in dateLists">
              {{ date.day }} Days - {{ date.date._d.toString().slice(4, 15) }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="./vendor/materialize/js/materialize.min.js"></script>
    <script src="./vendor/moment.min.js"></script>
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="./main-next.js"></script>
  </body>
</html>
